@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap%27');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration-line: none;
    list-style: none;
    font-family: "Inter", sans-serif;
  }

  :root{
    --background: #fdfdfd;
    --white: #fff;
    --blue: #66B2FF;
    --red: #FF595E;
    --yellow: #FFDB5D;
    --page_padding: 6.813rem;
  }

body {
    padding-top: 10%;
    background: #FFF;
    /* 
    background: url(https://i.etsystatic.com/18226958/r/il/cb5d0b/1732779826/il_fullxfull.1732779826_pu7v.jpg) no-repeat center center fixed;
    background-size: cover; 
    */
    display: flex;
  }
  

  .wrapper {
    display: flex;
  }
  
  .box1 {
    flex: 1; 
    border: 2px solid #ffa94d;
    border-radius: 5px;
  }
  
  .box1 img {
    margin-top: 5%; 
    width: auto;
    height: 50vh;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 

  }
  
  .box2,
  .box3 {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    padding: 1em;
    color: #d9480f;
    margin-top: 10px;
  }
  
  .box3 {
    margin-top: auto;
  }

  .content {
    min-height: 72vh;
  } 

  #section{
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    display: flex;
    flex-direction: row;
  }

  .title-bg {

    height: auto;
    width: 100%;
    padding: 1rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .title-bg-rounded {
    height: auto;
    width: 80%;
    background-color: #000;
    margin: 2.5rem;
    padding: 1rem;
    flex-shrink: 0; 
    border-radius: 0.625rem;
  }

  #title {
    text-align: center;
    margin: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
  }

  .about-text{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 120%;
  }

  .intro {
      height: auto;
      font-weight: 400;
      line-height: 120%; /* 1.5rem */
      font-size: 1.25rem;
      padding: var(--page_padding);
    }


  .about-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .intro-about {
    padding-top: 49px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: auto;
    font-weight: 400;
    line-height: 120%; /* 1.5rem */
    font-size: 1.25rem;
    
  }
  
  #bullet{
    font-size: 2rem;
  }
  .bullet-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.25rem;
  }
  .bullet-text b {
    margin-bottom: 0.5em;
}

.bullet-container {
  display: flex;
  flex-direction: column;
}
  .subtitle{
    height: 5rem;
    font-size: 3rem;
    color: var(--red);
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  .tips-icons{
    fill: var(--blue);
    stroke: var(--blue);
  }
  
  .intro h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 1.25rem;
  }
  
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: auto;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer li {
    margin: 0 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  

  
/*Dropdown menu  below*/

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content, 
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a,
  .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover,
  .dropdown-content2 a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content,
  .dropdown:hover .dropdown-content2 {
    display: block;
  }
  
/*Dropdown menu above*/


/*Main - Home*/

.herobanner {
  background: #F3EABB;
  background: linear-gradient(90deg, #F3EABB, #FFFFFF);
  height: 100%;
  width: 100%;
}

.grid-container {
  grid-column: 1;
  grid-row: 1 / span 2;
  object-fit: cover;
}

#artist-man {
  grid-area: 1 / 1 / 3 / 2;
  align-self: flex-end;
  height: 70vh;
  display: flex;
}


#hero-header-text {
  grid-column: 2;
  grid-row: 1;
  padding:  10vh 50vh 0 0;
}

.header-text{
  color: var(--blue);
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
}


/* Beginning of button section */
#red-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.5rem;
  height: 2.9375rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 22px 0;
  color: #000;
  background: #FF595E;
  text-decoration: none;
  cursor: pointer;
}

#red-button:hover {
  background: #de4f54;
  box-shadow: 0 5px #83282b;
  color: #e8d8d8;
  transition-duration: 0.4s;
}

#red-button:active {
  box-shadow: 0 3px #83282b;
  transform: translateY(4px);
}

/* Added span (note: in case you are not aware, this is the arrow-like icon within the button) */
#red-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#red-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#red-button:hover span {
  padding-right: 25px;
}

#red-button:hover span:after {
  opacity: 1;
  right: 0;
}
/* End of button section */

#hero-paragraph {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  justify-self: end;
padding: 0 7vh 5vh 0;
}

/*2nd section b*/

.get-started {
  /* background: #F3EABB;
  background: linear-gradient(135deg, #F3EABB, #FFFFFF); */
  display: flex;
  align-items: center;
  flex-direction: column;
}

#gs-redirect-container{
  display: flex;
  flex-direction: row;
}

#gs-redirect {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  margin: 5vh;
  padding: 1vh 0 1vh 0;
}

#gs-redirect p {
  width: 25rem;
}

.tips-icons{
  height: auto;
  width: 20%;
  margin: 1rem 2rem 1rem 0;
  /*Reminder: top right bottom left*/
  display: flex;
  flex-direction: row;
  align-self: center;
}

#gs-rd-title{
  padding: 3vh 0 3vh 0;
  font-size: 2rem;
}
/*2nd section a*/

.button-typegroup-layout {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#colorblindness-type {
  border-radius: 0.25rem;
  border: 3px solid #66B2FF;
  color: #000;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 10rem;
  line-height: 1.5rem;
  text-decoration: none;
}

#colorblindness-type:hover {
  background-color: #000;
    box-shadow: 0 5px #83282b;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    color: #e8d8d8;
    transition-duration: 0.6s;
}

#colorblindness-type:active {
  background-color: #83282b;
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    color: #e8d8d8;
    transition-duration: 0.6s;
}

.tool-typegroup-layout{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
}

/*subpages*/

.sub-herobanner {
  background-image: url('../image_preview/Bg-icons.svg');
  height: 42.125rem;
  flex-shrink: 0;
  width: 100%;
  background-size: cover;
  /* background: linear-gradient(90deg, #D7EBFF, #FFFFFF); */
}

mark {
  color: var(--red);
  background-color: transparent;
  background-color: none;
}

#title {  
  color: var(--blue);
}

/*Navigation style*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #4D4D4D;
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.11);
}

.logo-container a {
  color: #4D4D4D;
  text-decoration: none;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}


.menu ul {
  display: flex;
  padding-right: 2vh;
}

.menu li {
  margin: 0 1rem;
}

.menu a {
  color: #4D4D4D;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;

}

.menu a i {
  margin-left: 5px;
}

input[type=checkbox] {
  display: none;
}

.burger {
  display: none;
}
@media screen and (max-width: 700px) {
  .header-text{
    font-size: 2rem;
  }
  .intro{
    padding: 0;
  }
  .subtitle{
    font-size: 2rem;
  }
  #bullet{
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1020px) {

  .dropdown{
    display: none;
  }

  input[type=checkbox]:checked~.nav {
      display: block;
  }

  .burger {
      display: block;
      width: auto;
      font-size: 1.5em;
      cursor: pointer;
  }

  .nav ul li {
      display: block;
  }

  .nav1,
  .nav2 {
      background: none;
      mix-blend-mode: normal;
      border: none;
      box-shadow: none;
      border-radius: none;
      padding: 0.5rem 1rem;
  }

  
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

#artist-man {
  grid-column: 1;
  grid-row: 1;
  width: 100%; 
}

.header-text {
  font-size: 2rem;
  line-height: 120%;
}

#hero-paragraph {
  padding: 0 5vw; 
}

#red-button {
  width: 80%; 
  margin: 20px auto; 

}
}