@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap%27');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration-line: none;
    list-style: none;
    font-family: "Inter", sans-serif;
  }
  :root{
    --background: #fdfdfd;
    --white: #fff;
    --blue: #66B2FF;
    --red: #FF595E;
    --yellow: #FFDB5D;
    --page_padding: 6.813rem;
  }

body {
    margin: 0;
    padding-top: 10%;
    background: #FFF;
    /* 
    background: url(https://i.etsystatic.com/18226958/r/il/cb5d0b/1732779826/il_fullxfull.1732779826_pu7v.jpg) no-repeat center center fixed;
    background-size: cover; 
    */
  }
  
  .navbar {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #4D4D4D;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.11);
  }
  
  .logo-container a {
    color: #4D4D4D;
    text-decoration: none;
    font-size: 1.25rem;
    display: flex;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 1rem;
  }
  
  .menu a {
    color: #4D4D4D;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .menu a i {
    margin-left: 5px;
  }

  .tips-icons{
    height: 4rem;
    width: 4rem;
    margin: 1rem 2rem 1rem 0;
    /*Reminder: top right bottom left*/
  }

  #section{
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    display: flex;
    flex-direction: row;
  }

  .title-bg {
    height: auto;
    width: 80%;
    background-color: #000;
    margin: 2.5rem;
    flex-shrink: 0; 
    border-radius: 0.625rem;
  }

  #title {
    text-align: center;
    margin: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 3rem;
  }

  .intro {
      height: auto;
      font-weight: 400;
      line-height: 120%; /* 1.5rem */
      font-size: 1.25rem;
      padding: var(--page_padding);
      
    }


  .header-text{
    color: var(--blue);
    font-family: Inter;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
  }

  .tools-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.75%;
    padding-bottom: 1.875rem;
    padding-top: 7rem;
  }

  #after-hr{
    padding-top: 13rem;
  }

  .links{
    height: auto;
    width: auto;
  }

  .tools-image{
    display: flex;
    max-height: 35rem;
    max-width: 90%;
    cursor: pointer;
  }

  .tools-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tools-p{
    padding-bottom: 3.125rem;
    padding-top: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 161.29%;
    padding-left: 8.875rem;
    padding-right: 8.875rem;
  }

  .content .container {
      background-color: rgba(237, 236, 235, 0.922);
      border-radius: 0.75rem;
      box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
      display: flex;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;

  }

  #bullet{
    font-size: 2rem;
  }
  .bullet-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.25rem;
  }
  .bullet-text b {
    margin-bottom: 0.5em;
}

.bullet-container {
  display: flex;
  flex-direction: column;
  max-width: 70ch;
}
  .subtitle{
    height: 5rem;
    font-size: 3rem;
    color: var(--red);
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  .tips-icons{
    fill: var(--blue);
    stroke: var(--blue);
  }

  .content {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  .container {
    max-width: 62rem;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
  }
  
  .intro h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 1.25rem;
  }
  
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .footer li {
    margin: 0 10px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  

  
/*Dropdown weapon below*/

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content, 
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a,
  .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover,
  .dropdown-content2 a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content,
  .dropdown:hover .dropdown-content2 {
    display: block;
  }
  
/*Dropdown weapon above*/


/*Main - Home*/

.herobanner {
  background: #F3EABB;
  background: linear-gradient(90deg, #F3EABB, #FFFFFF);
}

#colorblindness-type {
  border-radius: 0.25rem;
  border: 3px solid #66B2FF;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 10rem;
  line-height: 1.5rem;
}

.get-started {
  background: #F3EABB;
  background: linear-gradient(135deg, #F3EABB, #FFFFFF);
}



/*subpages*/

.sub-herobanner {
  background-image: url('../image_preview/Bg-icons.svg');
}

mark {
  color: var(--red);
  background-color: transparent;
  background-color: none;
}

#title {  
  color: var(--blue);
}

/*Navigation style*/

.navbar {
  padding: 20px;
}


input[type=checkbox] {
  display: none;
}

.burger {
  display: none;
}
@media screen and (max-width: 700px) {
  .header-text{
    font-size: 2rem;
  }

  .intro{
    padding: 0;
  }

  .subtitle{
    font-size: 2rem;
  }

  #bullet{
    font-size: 1.8rem;
  }

  .intro p{
    padding-left: 23px;
    padding-right: 23px;
  }

  .tools-header{
    font-size: 2rem;
  }
}

@media screen and (max-width: 1020px) {

  .dropdown{
    display: none;
  }

  .nav {
      display: none;
      position: absolute;
      margin-top: 20px;
      right: 0;
      left: 0;
      text-align: center;
      padding: 1rem 0;
      background-color: rgba(40, 73, 120, 0.8);
      border-radius: 0.5rem;
      z-index: 1;
  }

  input[type=checkbox]:checked~.nav {
      display: block;
  }

  .burger {
      display: block;
      width: auto;
      font-size: 1.5em;
      cursor: pointer;
  }

  .nav ul li {
      display: block;
  }

  .nav1,
  .nav2 {
      background: none;
      mix-blend-mode: normal;
      border: none;
      box-shadow: none;
      border-radius: none;
      padding: 0.5rem 1rem;
  }
}
